<% if @user.linkedin.past_companies.present? %>

<% @user.linkedin.past_companies.in_groups_of(2, false) do |g| %>

	<div class="row-fluid">

<% g.each do |c| %>

		<div class="span6">
	
			<h4><i class="icon-plus"></i><%= c[:past_company] %></h4>
			<h5><%= c[:past_title] %></h5>
			<p><%= c[:description] %></p>
			<p><%= c[:company_url] %></p>
		
		</div><!--/span-->
			<% end %>

	</div><!--/row-->


<% end %>

<% end %>